

/* Reservation.js */
.contents {
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
}

.title {
    text-align: center;
}

.datepicker {
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
}

.roomItem {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0;
}

.priceContent {
    text-align: right;
}

.button {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}