

/* Reservation.js */
.contents {
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
}

.title {
    text-align: center;
}

.datepicker {
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
}

.roomItem {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0;
}

.priceContent {
    text-align: right;
}

.button {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.stateItem {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 0;

    width: 80px;

    background: whitesmoke;
    border-radius: 5px;
}

.currentState {
    background: rgb(78, 106, 233);
    color: white;
}

.btn {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 0;

    width: 100px;

    float: right;
}

.disabled {
    background: rgb(204, 203, 203) !important;
}